*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #fff;
}

header{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    z-index: 2;
    background: #fff;
    border-bottom: 1px solid #666;
    transition: opacity 300ms ease-in-out;
}

header .left{
    position: absolute;
    height: 100%;
    width: 100px;
    top: 0;
    left: 0;
    padding: 10px;
}

header a{
    color: dodgerblue;
    font-size: 30px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header .logo{
    width: 200px;
    height: 50px;
}

header .right{
    position: absolute;
    height: 100%;
    width: 100px;
    top: 0;
    right: 0;
    padding: 10px;
}

.nav-none{
    transition: 0.3s;
    display: none;
    position: fixed;
    top: 75px;
    left: 0;
    width: 0;
    height: 0;
    background: #222;
}

.nav-block{
    transition: 0.3s;
    display: block;
    position: fixed;
    top: 75px;
    left: 0;
    width: 250px;
    height: calc(100vh - 75px);
    background: #222;
    z-index: 99;
}.icontainer{
    position: relative;
    width: 100%;
    min-height: 100px;
    max-height: auto;
    padding: 0;
    margin: 0;
    text-align: center;
}

.icontainer img{
    width: 100%;
}

.icontainer .irow{
    position: relative;
    width: 100%;
    padding: 40px 0;
    display: flex;
}

.icontainer .irow .icol{
    width: 100%;
    margin: 0;
    overflow: hidden;
}

.saying{
  padding: 20px;
  text-align: center;
}

.saying .img{
  position: relative;
  width: 100%;
  padding: 20px;
  text-align: center;
  align-content: center;
  vertical-align: middle;
}

.saying .img p{
  margin-top: 15px;
  transition: 00.6s;
}

.saying:hover .img p{
    color: dodgerblue;
    transition: 00.6s;
}

.saying .img img{
  width: 56px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}